<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<% Paper.forEach(function (articles){ %>
	<div>
		<%= articles.title.toUpperCase() %>
		<div>
		<%= articles.summary %>
		</div>
	</div>
<% })%> 

</body>
</html>





